.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: 2px solid #e9967a;
  border-radius: 5px;
  padding: 10px;
  color: #e9967a;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  background-color: #fff0f5;
  border: 1px solid #e9967a;
  filter: drop-shadow(0px 4px 4px rgba(113, 40, 40, 0.15));
  border-radius: 4px;
  padding: 10px;
  color: #e9967a;
}
.input:hover,
.input:focus {
  border: 1px solid red;
}
.btn {
  cursor: pointer;
  background-color: #fff0f5;
  line-height: 1.62;
  border: transparent;
  padding: 6px 22px;
  width: 150px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  color: #e9967a;
  border: 1px solid #e9967a;
}

.btn:hover,
.btn:focus {
  color: #fff8dc;
  background-color: #e9967a;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}
